@font-face {
  font-family: "Programme";
  src: url(https://assets.genius.com/fonts/programme_normal.woff2)
      format("woff2"),
    url(https://assets.genius.com/fonts/programme_normal.woff?) format("woff");
  font-style: normal;
  font-weight: normal;
}

#open-on-genius-button {
  width: 3.5em;
  height: 3.5em;
}

#open-on-genius-div {
  display: flex;
  justify-content: start;
  gap: 6px;
  margin-right: 8px;
  border-radius: 30px;
  background-color: #ffff64;
  min-width: 3.5em;
  max-width: 3.5em;
  height: 3.5em;
  overflow: hidden;
  transition: min-width 0.25s;
  cursor: pointer;
}

#open-on-genius-div:hover {
  min-width: 165px;
}

#open-on-genius-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.6em;
  font-family: "Programme";
  overflow: hidden;
  white-space: nowrap;
}

h1.title > yt-formatted-string {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
